tml{
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Exo 2";
	background-color: #E6FFFA;
	color: black;
	text-align: left;
	height: auto;
	width: auto;
	align-items: center;
	margin: 0;
}

#body{
	padding-left: 13vw;
	padding-right: 13vw;
}

.name{
	margin-right: 14vw;
}

.nav {
	height: 4.75vw;
	overflow: visible;
	margin-top: 2vw;
  }
  
  .nav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 2.25vw;
	margin-left: 1vw;
  }
  
  .nav a:hover {
	background-color: #EDBFAF;
	border-radius: 1vw;
	color: black;
  }

.content{
	display: flex;
	justify-content: center;
	margin-top: 3vw;
	width: 100%;
	height: 20vw;
}

.image{
	background-color: #af4ca2;
	border-radius: 1vw;
	align-items: center;
	width: 22vw;
	height: 22vw;
	border-radius: 29vw;
	display: inline-flex;
	margin-right: 0%;
	/* margin-top: 3vw; */
  }

  .img{
	  border-radius: 1vw;
	align-items: center;
	width: 22vw;
	height: 22vw;
	border-radius: 29vw;
  }

.about{
	text-align: left;
	padding-top: 0%;
	width: 40vw;
	margin-left: 2vw;
	height: 20vw;
  }

h2{
	height: 5vw;
	font-size: 3.5vw;
	padding-left: 4vw;
	margin-top: 1vw;
	margin-bottom: 0;
}

p{
	height: 20vw;
	font-size: 2vw;
	padding-left: 4vw;
	padding-right: 2vw;
}

mark{
	background-color: #EDBFAF;
}

.btn-group{
	margin: 2vw;
	margin-left: 32%;
	height: 7vw;
	width: auto;
}

  .btn-group button {
	background-color: #71D4C0;
	border: none;
	border-radius: 10vw;
	color: white;
	cursor: pointer;
	margin-left: 3.25vw;
	font-size: 1.5vw;
	width: 8vw;
	height: 8vw;
	text-align: center;
  }
  
  .btn-group button:hover {
	background-color: #EDBFAF;
  }

footer{
	background-color: #E3815F;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5vw;
	padding: 0;
	width: 100%;
	height: 8vw;
}

#contact{
	margin-left: 35%;
	height: 3vw;
}

.con{
	width: 2vw;
	height: 2vw;
	margin-top: 1vw;
}

.in{
	font-size: 1.25vw;
	padding-left: .5vw;
	height: 3vw;
}

.phone{
	display: inline-flex;
	height: 4vw;
}

#links{
	display: inline-flex;
	margin-left: 45%;
	height: 4vw;
}

#instagram{
	width: 4vw;
	height: 4vw;
	margin-top: .75vw;
	padding-right: 2vw;
}

#git{
	width: 3.25vw;
	height: 3.25vw;
	margin-top: 1vw;
}