html{
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Exo 2";
	background-color: #E6FFFA;
	color: black;
	margin-left: 8vw;
	margin-right: 8vw;
	text-align: left;
	font-size: 1.25vw;
	height: 100%;
	width: auto;
	position: relative;
}

.name{
	margin-right: 20vw;
}

.nav {
	/* background-color: #71D4C0; */
	height: 4.75vw;
	overflow: hidden;
  }
  
  .nav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 2.5vw;
	margin-left: 2.5vw;
  }
  
  .nav a:hover {
	background-color: #EDBFAF;
	color: black;
  }

.content{
	display: flex;
	justify-content: center;
	margin-top: 3vw;
	width: 100%;
	height: 16vw;
}
/* 
h2{
	height: 5vw;
	font-size: 3.5vw;
	padding-left: 4vw;
	margin-top: 1vw;
	margin-bottom: 0;
} */

p{
	height: 20vw;
	font-size: 2vw;
	padding-left: 4vw;
	padding-right: 2vw;
}

mark{
	background-color: #EDBFAF;
}


footer{
	background-color: #E3815F;
	margin: 0;
	margin-top: 5vw;
	padding: 0;
	width: 100%;
	height: 8vw;
}

h1 {
	text-align: left;
	font-size: 2.5vw;
	padding: 2.5vw;
	padding-bottom: 3vw;
}

h2 {
	text-align: left;
	/* padding-top: 10%; */
	font-size: 2.25vw;
	height: 5vw;
	/* font-size: 2vw; */
	padding-left: 4vw;
	/* padding-right: 2vw; */
}

h3 {
	padding-left: 4vw;
	padding-top: 0;
	font-size: 2vw;
}

.research{
	width: auto;
	height: 76vw;
}

.text {
	text-align: left;
	margin-left: 1px;
	padding-top: 0%;
	margin-top: 0%;
}

/* .link {
	margin: 0;
} */


p {
	text-align: left;
	font-size: 1.5vw;
}

.context {
	padding-top: 5%;
}

.ending {
	padding-bottom: 15vh;
}

.wireframe {
	width: 100%;
	height: 100%;
}

.dwf {
	display: inline-flex;
	width: 78vw;
	height: 35vw;
}

.dimage {
	display: inline-block;
	padding-left: 0%;
	margin-left: 1%;
	margin-right: 0%;
}

.dwfi {
	width: 33vw;
	height: 75vh;
	margin-left: 0%;
}

.dtext {
	display: inline-block;
	word-wrap: break-word;
	width: 53vw;
	height: 75vh;
	margin-left: 0%;
	margin-right: 0%;
}

.twf {
	display: inline-flex;
	width: 78vw;
	height: 35vw;
	padding-left: 0%;
}

.timage {
	display: inline-block;
	padding-left: 0%;
	margin-right: 0%;
}

.both {
	width: 30vw;
	height: 75vh;
	margin-left: 0%;
	margin-right: 0%;
}

.ptext {
	display: inline-block;
	word-wrap: break-word;
	width: 50vw;
	height: 75vh;
}

.p {
	margin: 0%;
	margin-left: 16vw;
}

.t {
	float: right;
	padding: 0%;
	margin: 0%;
	margin-right: 30%;
	margin-top: 5vw;
}

.d {
	float: right;
	padding: 0%;
	margin: 0%;
	margin-right: 30%;
}

.ttext {
	width: 35vw;
	margin-top: 1vw;
	padding-right: 17vw;
}

.mini {
	text-align: left;
	padding-top: 5vw;
}

.dhfi {
	display: inline-block;
	width: 32vw;
	height: 47vw;
	margin: 0%;
}

.p.text {
	width: 30vw;
	height: 20vw;
	margin-top: 1vw;
	padding-right: 17vw;
}

.ddtext {
	display: inline-block;
	word-wrap: break-word;
	width: 53vw;
	height: 75vh;
	margin-left: 5%;
	margin-right: 0%;
}


.style-guide {
	margin: 0%;
	width: 80vw;
	height: 48vw;
}

.final {
	font-size: 3vw;
	text-align: center;
}

.takeaways {
	margin-top: 5vw;
	height: 15vw;
}

.use{
	height: 11vw;
}

.learn{
	height: 5vw;
}

.mem{
	height: 7vw;
}

.designs{
	display: inline-flex;
	width: 100%;
}
.web{
	/* display: flex; */
	width: 20vw;
	height: 30vw;
	align-items: center;
}
.original{
	width: 50vw;
	height: 30vw;
	position: relative;
}
.graphic {
	margin-left: 0;
	padding: 0;
	margin-top: 2vw;
	width: 40vw;
	height: 20vw;
	display: flex;
}
.orig{
	margin-top: 2vw;
	width: 15vw;
	height: 20vw;
}

button {
	background-color: #71D4C0;
	border: none;
	border-radius: .25vw;
	color: white;
	cursor: pointer;
	margin-left: 3.5vw;
	font-size: 1.25vw;
	width: 15vw;
	height: 5vw;
	text-align: center;
  }
  
 button:hover {
	background-color: #EDBFAF;
  }