html{
	margin: 0;
	width: 100%;
	height: 100%;
	
}

body {
	font-family: "Exo 2";
	background-color: #E6FFFA;
	color: black;
	text-align: left;
	font-size: 1.15vw;
	height: auto;
	width: auto;
	align-items: center;
	margin: 0;
}

#body{
	padding-left: 13vw;
	padding-right: 13vw;
}

.name{
	margin-right: 14vw;
}

.nav {
	height: 4.75vw;
	overflow: hidden;
	margin-top: 2vw;
  }
  
  .nav a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 2.25vw;
	margin-left: 1vw;
  }
  
  .nav a:hover {
	background-color: #EDBFAF;
	color: black;
	border-radius: 1vw;
  }

.content{
	display: flex;
	justify-content: center;
	margin-top: 3vw;
	width: 100%;
	height: 40vw;
}

.over{
	  height: 5vw;
}

#overview{
	margin-right: 1.5vw;

}

.designs{
	display: inline-flex;
	width: 100%;
}
.web{
	margin-left: 3vw;
	width: 20vw;
	height: 30vw;
}
.original{
	width: 35vw;
	height: 30vw;
	position: relative;
	align-items: center;
	
}
.graphic {
	margin-left: 2.5vw;
	padding: 0;
	margin-top: 2vw;
	width: 35vw;
	height: 20vw;
	display: flex;
	
}
.orig{
	margin-top: 2vw;
	width: 13vw;
	height: 20vw;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#re{
	margin-left: 2.5vw;
}

#original {
	background-color: #71D4C0;
	border: none;
	border-radius: .25vw;
	color: white;
	cursor: pointer;
	margin-top: 1vw;
	font-size: 1.25vw;
	width: 15vw;
	height: 5vw;
	margin-left: 12vw;
	text-align: center;
  }
  
 button:hover {
	background-color: #EDBFAF;
  }
  
p{
	height: 20vw;
	font-size: 2vw;
	padding-left: 4vw;
	padding-right: 2vw;
}

.tools{
	float: right;
}

.assets{
	height: 5vw;
	padding-left: 2vw;
	width: 11vw;
}

mark{
	background-color: #EDBFAF;
}

footer{
	background-color: #E3815F;
	margin: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5vw;
	padding: 0;
	width: 100%;
	height: 8vw;
}

h1 {
	text-align: center;
	font-size: 2.5vw;
	padding: 2.5vw;
	padding-bottom: 1vw;
}

h3 {
	padding-left: 4vw;
	padding-top: 0;
	font-size: 1.75vw;
}

h4{
	font-size: 1.5vw;
	margin-top: 5vw;
}

#research{
	width: auto;
	height: 80vw;
	margin-top: 7vw;
}

p {
	text-align: left;
	font-size: 135%;
}

.takeaway{
	height: 19vw;
	margin-top: 7vw;
}

.research{
	width: auto;
	height: 80vw;
}

.text {
	text-align: left;
	margin-left: 1px;
	padding-top: 0%;
	margin-top: 0%;
}

.ending {
	padding-bottom: 15vh;
}

.wireframe {
	width: 100%;
	height: 100%;
}

.dwf {
	display: inline-flex;
	width: 100%;
	height: 35vw;
}

.dimage {
	display: inline-block;
	padding-left: 0%;
	margin-left: 1%;
	margin-right: 0%;
}

.dwfi {
	width: 33vw;
	height: 75vh;
	margin-left: 0%;
}

.dtext {
	display: inline-block;
	word-wrap: break-word;
	width: 100%;
	height: 35vw;
	margin-left: 0%;
	margin-right: 0%;
	padding-right: 0;
}

.twf {
	display: inline-flex;
	width: 78vw;
	height: 35vw;
	padding-left: 0%;
}

.timage {
	display: inline-block;
	padding-left: 0%;
	margin-right: 0%;
}

.both {
	width: 30vw;
	height: 75vh;
	margin-left: 0%;
	margin-right: 0%;
}

.ptext {
	display: inline-block;
	word-wrap: break-word;
	width: 50vw;
	height: 75vh;
}

.t {
	float: right;
	padding: 0%;
	margin: 0%;
	margin-right: 15.5vw;
	margin-top: 5vw;
}

.d {
	float: right;
	padding: 0%;
	margin: 0%;
	margin-right: 30%;
}

.p{
	text-align: center;
}

.dhfi {
	display: inline-block;
	width: 32vw;
	height: 47vw;
	margin: 0%;
}

#h{
	height: 110vw;
	margin-top: 9vw;
}

#title{
	height: 10vw;
}

.p.text {
	width: 30vw;
	height: 20vw;
	margin-top: 1vw;
	padding-right: 17vw;
}

.ddtext {
	display: inline-block;
	word-wrap: break-word;
	width: 53vw;
	height: 75vh;
	margin-left: 5%;
	margin-right: 0%;
}


.style-guide {
	margin: 0%;
	width: 74vw;
	height: 42vw;
	padding-left: 0;
}

#style{
	margin: 0%;
	/* width: 74vw; */
	height: 45vw;
	padding-left: 0;
}

.final {
	font-size: 3vw;
	text-align: center;
	height: 5vw;
}

#takeaways {
	margin-top: 5vw;
	height: 15vw;
	padding-bottom: 2vw;
}

.use{
	height: 16vw;
}

.learn{
	height: 10vw;
}

.mem{
	height: 13vw;
}

  #q{
	  height: 7vw;
  }

  #st{
	  height: 75vw;
  }

  
#contact{
	margin-left: 35%;
	height: 3vw;
}

.con{
	width: 2vw;
	height: 2vw;
	margin-top: 1vw;
}

.in{
	font-size: 1.25vw;
	padding-left: .5vw;
	height: 3vw;
}

.phone{
	display: inline-flex;
	height: 4vw;
}

#links{
	display: inline-flex;
	margin-left: 45%;
	height: 4vw;
}

#instagram{
	width: 4vw;
	height: 4vw;
	margin-top: .75vw;
	padding-right: 2vw;
}

#git{
	width: 3.25vw;
	height: 3.25vw;
	margin-top: 1vw;
}

#back{
	margin-left: 10vw;
	width: 15vw;
}

#gate{
	display: inline-flex;
}

#top{
	margin-left: 15vw;
	width: 15vw;
}

button {
	background-color: #71D4C0;
	border: none;
	border-radius: .25vw;
	color: white;
	cursor: pointer;
	margin-top: 1vw;
	font-size: 1.25vw;
	width: 15vw;
	height: 5vw;
	margin-left: 20vw;
	text-align: center;
  }
  
  button:hover {
	background-color: #EDBFAF;
  }

  #tabs{
	float: right;
	overflow: visible;
	background-color:#71D4C0;
	border-radius: 1vw;
	width: 9vw;
	height: 18vw;
	margin-top: 17vw;
	margin-left: 88%;
	position: fixed;

  }

  .tabs{
	  margin-bottom: 2vw;
	  padding-left: 1.5vw;
	  padding-right: 1.5vw;
  }

  .tab{
	  font-size: 1.25vw;
	  text-decoration: none;
	  color: white;
  }